body {
    font-family: Open Sans,Helvetica,Arial,sans-serif;
    margin: 0px;
    background-color: #393939;
}

.title-header {
    display: flex;
    background-color: rgba(24,35,51,.7);
}

.kotlin-logo {
    width: 10%;
    height: 13%;
}

.app-title {
    margin-left: 10px;
    padding-top: 18px;
    margin: 0;
    font-size: 4em;
    color: white;
    letter-spacing: -3px;
}

.feeder {
    box-sizing: border-box;
    padding: 20px;
    border-radius: 4px;
    width: 50%;
    background-color: #393939;
}

.card {
    border: 1px solid #ccc;
    padding: 15px;
    width: 90%;
    background-color: white;
    margin: 15px auto;
    box-shadow: 2px 2px 5px 2px #222;
}

.card:hover {
    border: 1px solid rgba(81, 203, 238, 1);
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}

.card-title {
    text-decoration: unset;
}

.btn {
    display: none;
}