{{> header}}

<h1> {{title}} </h1>

<div class="feeder">
    {{#cards}}
        <section>
            <header class="card-header">
                <h2 class="card-title">
                    <a href="/card/{{id}}">{{title}}</a>
                </h2>
                <div class="card-meta">
                    By <strong>{{author.firstname}}</strong>, <strong>{{addedAt}}</strong>
                </div>
            </header>
            <div class="card-description">
                {{headline}}
            </div>
        </section>
    {{/cards}}

</div>

{{> footer }}
